/* -*- Mode: css -*- */

/* ----------------------------------------------------------------------------------------------- *
 *
 * PySpice stylesheet
 *
 * :copyright: Copyright 2017 Fabrice Salvaire
 *
 * This file is part of the PySpice software.
 *
 */

@import url("theme.css");

/* ----------------------------------------------------------------------------------------------- *
 *
 * Overwrite RTD Theme
 *
 */

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 100%;
    margin: auto;
}

p {
    font-size: 100%; /* 16 px */
}

div[class^="highlight"] {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

div[class^="highlight"] pre {
    font-size: 100%; /* 16 px */
}

div.highlight-pytb {
    background: #ffcfcf;
    border-left-width: 10px;
    border-left-color: #fc4545;
    border-left-style: solid;
}

div.highlight-none {
    background: #d2ffcf;
    border-left-width: 10px;
    border-left-color: #1ada52;
    border-left-style: solid;
}

a.btn.btn-neutral {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background: #4caf50 !important;
    color: white !important;
}

a.btn.btn-neutral:hover {
    background: #6ec071 !important;
    color: white !important;
}

/* ----------------------------------------------------------------------------------------------- */

dl.class, dl.function {
    border-top: 1px solid black;
    padding-top: 5px;
}

/* ----------------------------------------------------------------------------------------------- *
 *
 * GetTheCode
 *
 */

div.getthecode {
    margin-bottom: 1em;
}

div.getthecode-header {
    padding: 5px;
    border-radius: 4px;
    background: #2980b9;
    color: white;
    /* background: #52cc79; */
    /* background: #4fa6e6; */
    /* color: black; */
}

div.getthecode-header a {
    /* color: black; */
    color: white;
}

.rst-content div.getthecode-header ul {
    margin: 0; /* Reset */
    list-style-type: none;
}
.rst-content div.getthecode-header ul li {
    margin: 0; /* Reset */
    margin-left: 1em;
    display: inline;
}

.rst-content div.getthecode-header li.show-code-button {
    cursor: pointer;
    float: right;
    margin-right: 1em;
}

div.getthecode pre {
    margin-top: 0px;
    padding: 12px;
}
