*.stderr
*.stdout
*/tex/auto
*~
__pycache__
du.log
parser.out
parsetab.py

####################################################################################################
#
MANIFEST
#
####################################################################################################

.cache/
.pytest_cache/
.tox/
PySpice.egg-info/
PySpice/__init__.py
build/
dist/
doc/sphinx/build/
doc/sphinx/source/api/
doc/sphinx/source/examples/

####################################################################################################

PySpice/Spice/notes.txt
PySpice/Spice/rf.diff
PySpice/Unit/numpy-notes.txt

TRASH/

devel-test/
devel/

doc/extern/
doc/sphinx/source/-to-be-removed.txt
doc/sphinx/source/_static/logo-square.png
doc/sphinx/source/_static/logo-v1.jpg
doc/sphinx/source/_static/logo-v1.png
doc/sphinx/source/_static/logo-v2.jpg
doc/sphinx/source/_static/logo-v2.png
doc/sphinx/source/_static/logo.png
doc/sphinx/source/_static/stargazer.png
doc/sphinx/source/project-links.txt-

example-test/

examples/diode/tex/auto/
examples/libraries/2N2907A.SP3.TXT
examples/libraries/2N6035.SP3
examples/libraries/2N6038.SP3
examples/libraries/Infineon-SimulationModel_OptiMOS_PowerMOSFET_PSpice_20V_Complementary-SM-v01_00-EN.zip
examples/libraries/Infineon-SimulationModel_OptiMOS_PowerMOSFET_PSpice_20V_N-Channel-SM-v01_00-EN.zip
examples/libraries/Infineon-SimulationModel_OptiMOS_PowerMOSFET_PSpice_20V_P-Channel-SM-v01_00-EN.zip
examples/libraries/S_AFBJT*
examples/libraries/S_bjtmir.lib
examples/power-supplies/notes/
examples/power-supplies/references/
examples/spice-parser/kicad-pyspice-example/kicad-pyspice-example.bak

issues/Tubemods/
issues/internal-parameters/
issues/multi-shared.py
issues/nazir/
issues/warning-example/

make-examples-log.txt

ngspice-build
ngspice-shared/log
ngspice-shared/sharedspice.h

notes/

open-doc.sh

resources

rsync-vps.sh

spice-examples/eg6.dat
spice-examples/gnucap.cir
spice-examples/mosfet-characterization.cir
spice-examples/ring-modulator.cir
spice-examples/xyce-error.cir
spice-examples/xyce-error.cir.FD.prn
spice-examples/xyce-raw.data
spice-examples/xyce-test.cir
spice-examples/xyce-test2.cir
spice-examples/xyce-test2.csv

tools/run-tox
tools/upload-www

trash/

unit-test/test.py
PySpicePro.egg-info/
