language: python
python:
    - 3.5

install:
    - pip install -r requirements.txt
    - pip install .

script:
    - python unit-test/Spice/test_BasicElement.py
    - python unit-test/Spice/test_HighLevelElement.py
