# Automate tasks
# http://www.pyinvoke.org
requests
beautifulsoup4
invoke

# Build documentation
sphinx
sphinxcontrib-getthecode
pyterate
pelican

# Check code style, errors, etc
pylint
flake8

# Test runners
pytest
tox

# Check that MANIFEST.in matches Git repo contents before making a release
# https://github.com/mgedmin/check-manifest
check-manifest

# To make wheel packages
wheel

# Securely upload packages to PyPI
twine
