# Automate tasks
# http://www.pyinvoke.org
invoke

# Build documentation
sphinx
sphinxcontrib-getthecode

# Check code style, errors, etc
pylint

# Test runners
tox

# Check that MANIFEST.in matches Git repo contents before making a release
# https://github.com/mgedmin/check-manifest
check-manifest

# To make wheel packages
wheel

# Securely upload packages to PyPI
twine
