@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: local('Gabriela'), local('Gabriela-Regular'), url(https://fonts.gstatic.com/l/font?kit=BEd5TJl5geC-G_qgmtkw3kO-NZ8T69qbbis4mE8I88g&skey=146d0218141ab9a9&v=v4) format('woff2');
}
